@import 'partials/all';


$shadow: 0px 3px 8px rgba(69, 101, 173, 0.1);

// Classes

.no-padding{
    padding: 0;
}

.line{
    height: 1px;
    width: 100%;
    background: #eee;
}

.clean{
    background: none !important;
    padding: 0 0 50px 0 !important;
    margin: 0 !important;
}

.h70{
    height: 70px !important;
}

// Slick slide

.arrow {
    &-prev,
    &-next{
        position: absolute;
        display: block;
        height: 27px;
        width: 36px;
        line-height: 0px;
        cursor: pointer;
        top: 35%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        background: none;
        background-repeat: no-repeat;
        padding: 0;
        border: none;
        outline: none;
        color: #0f82ff;
        font-size: 24px;
        opacity: 0.5;

        &:hover,
        &:active,
        &:focus{
            opacity: 1;
            border: none;
            outline: none;
        }
    }

    &-prev{
        left: -30px;
        // background: url('./../img/elements/left-arrow.png');
    }
    
    &-next{
        right: -30px;
        // background: url('./../img/elements/right-arrow.png');
    }
}


.navbar-toggler-icon {
    display: table-cell;
    .fa-bars {
        font-size: 16pt;
        color: $main-color;
    }
}