<section id="section" class="section newservice clean">
  <div class="container">
    <div class="section-title">
      <h5>Все фоторепортажи</h5>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../dist/assets/img/home/6.png" alt="">
            <div class="card-body">
              <div class="media">
                <div class="media-left mr-3">
                  <span class="m-top">19</span>
                  <span class="m-bottom">Декабрь</span>
                </div>
                <div class="media-body">
                  <h6 class="card-title">
                    <a [routerLink]="['/photos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую медаль в Международном турнире</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../dist/assets/img/home/5.png" alt="">
            <div class="card-body">
              <div class="media">
                <div class="media-left mr-3">
                  <span class="m-top">19</span>
                  <span class="m-bottom">Декабрь</span>
                </div>
                <div class="media-body">
                  <h6 class="card-title">
                    <a [routerLink]="['/photos/view']">В столице подвели итоги XIХ фестиваля среди лиц с ограниченными возможностями</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../dist/assets/img/home/8.png" alt="">
            <div class="card-body">
              <div class="media">
                <div class="media-left mr-3">
                  <span class="m-top">19</span>
                  <span class="m-bottom">Декабрь</span>
                </div>
                <div class="media-body">
                  <h6 class="card-title">
                    <a [routerLink]="['/photos/view']">В столичном жилом массиве «Колмо» состоялось открытие первого детского сада</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../dist/assets/img/home/9.png" alt="">
            <div class="card-body">
              <div class="media">
                <div class="media-left mr-3">
                  <span class="m-top">19</span>
                  <span class="m-bottom">Декабрь</span>
                </div>
                <div class="media-body">
                  <h6 class="card-title">
                    <a [routerLink]="['/photos/view']">В столице стартовал фестиваль «Мелодия и ремесла»</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../dist/assets/img/home/6.png" alt="">
            <div class="card-body">
              <div class="media">
                <div class="media-left mr-3">
                  <span class="m-top">19</span>
                  <span class="m-bottom">Декабрь</span>
                </div>
                <div class="media-body">
                  <h6 class="card-title">
                    <a [routerLink]="['/photos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую медаль в Международном турнире</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../dist/assets/img/home/6.png" alt="">
            <div class="card-body">
              <div class="media">
                <div class="media-left mr-3">
                  <span class="m-top">19</span>
                  <span class="m-bottom">Декабрь</span>
                </div>
                <div class="media-body">
                  <h6 class="card-title">
                    <a [routerLink]="['/photos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую медаль в Международном
                      турнире</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>