<section id="section" class="section article clean">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="article-title">
          <h5>Представляем вашему вниманию видеоролик о социальном педагоге Городского реабилитационного центра для ЛОВЗ</h5>
        </div>
        <figure class="article-figure">
          <div class="article-info">
            <span class="text-left align-self-center">19 Декабрь 2017</span>
          </div>
        </figure>

        <div class="article-body">
          <div class="article-body-video">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WrkjyHcxoGg"></iframe>
            </div>
          </div>
          <article>
            <p>"Стало доброй традицией проводить у нас в Бишкеке шествие Дедов Морозов и Снегурочек. Вы несете собой положительный заряд
              праздника. Ваше присутствие радует глаз, украшает нашу жизнь и создает феерию новогоднего мероприятия. Дед Мороз и Снегурочка
              возвращает людей старшего поколения в детство, а нашу детвору погружает в мир фантазии и сказки! Дед Мороз и Снегурочка
              - являются проводниками уходящего и наступающего года. Вы являетесь олицетворением того, что новый 2011 год вступает в
              свои права", - отметил мэр.
              <br>
              <br> Также градоначальник добавил, что сегодня Дед Морозы и Снегурочки наделены огромной миссией: "Вы задаете тон празднику
              и создаете новогоднюю атмосферу. Думаю, что многие бишкекчане и гости столицы соберутся на центральной площади "Ала-Тоо"
              возле главной елки страны, чтобы принять участие в развлекательном новогоднем мероприятии и получить от Вас сладкие подарки".
              <br> В завершение своего выступления Иса Омуркулов пожелал участникам праздничного шествия доброго пути.
              <br>
              <br> Получив от главы столичного муниципалитета Исы Омуркулова целый мешок с подарками, колона направилась на центральную площадь
              столицы к главной елке. Возглавляет шествие духовой оркестр в сопровождении барабанщиц. Общее количество Дед Морозов и
              Снегурочек составит - 200 человек.
              <br>
              <br> В рамках новогоднего мероприятия на центральной площади состоится праздничный новогодний концерт с участием звезд кыргызской
              эстрады, будут разыграны конкурсы. Во время шествия новогодние персонажи будут раздавать подарки детям и взрослым.
              <br> На различные сладкие подарки в 2010 году с горбюджета было выделено 2,5 млн. сомов, всего же на празднование самого волшебного
              праздника - Нового года мэрия города Бишкек выделила порядка 10 млн. сомов.
            </p>
          </article>
        </div>
        <div class="article-footer">
          <div class="row">
            <div class="col">
              <div class="footer-bottom">
                <div class="share">
                  <share-buttons [theme]="'outline'" [include]="['facebook','twitter','google','whatsapp','telegram','vk']" [show]="14" [showIcon]="false"
                    [showText]="true">
                  </share-buttons>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <aside class="sidebar">
          <div class="sidebar-body">
            <img src="../dist/assets/img/banner.png" alt="" class="img-fluid">
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>