<section id="section" class="section article clean">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="article-title">
          <h5>Представляем вашему вниманию видеоролик о социальном педагоге Городского реабилитационного центра для ЛОВЗ</h5>
        </div>
        <figure class="article-figure">
          <div class="article-info">
            <span class="text-left align-self-center">19 Декабрь 2017</span>
          </div>
        </figure>

        <div class="article-body">
          <div class="article-body-video">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WrkjyHcxoGg"></iframe>
            </div>
          </div>
          <article>
            <p>
              23 декабря на Старой площади столицы под руководством начальника ГУВД города Бишкек Сталбека Рахманова была проведена проверка
              готовности милиционеров нести службу во время новогодних праздников.</p>
            
            <p>
              На гарнизонном разводе, также приняли участие мэр Бишкека Албек Ибраимов, председатель Бишкекского городского кенеша Алмаз
              Кенебаев, главы районных администраций и представители правоохранительных органов.
              <br>
              <br> Мэр столицы Албек Ибраимов отметил, что перед органами внутренних дел Бишкекского гарнизона стоит задача обеспечить порядок
              и общественную безопасность во время празднования Нового 2018 года. Добровольные народные дружины во взаимодействии со
              штатными сотрудниками милиции будут оказывать содействие для охраны общественного порядка.
              <br>
              <br> "Уважаемые сотрудники милиции и дружинники! В преддверии нового года наши горожане надеются, что их безопасность будет
              в надежных руках милиции. Я уверен, что во время новогодних праздников с вашей стороны будет обеспечен общественный порядок,стабильность
              и безопасность наших горожан и гостей столицы", - отметил мэр.
              <br>
              <br> Во время празднования Нового года в Бишкеке будет задействовано более 2 500 тысяч сотрудников столичной милиции, а также
              привлечены добровольные народные дружины из всех столичных районов, которые будут обеспечивать общественный порядок и безопасность
              граждан.
            </p>
          </article>
        </div>
        <div class="article-footer">
          <div class="row">
            <div class="col">
              <div class="footer-bottom">
                <div class="share">
                  <share-buttons [theme]="'outline'" [include]="['facebook','twitter','google','whatsapp','telegram','vk']" [show]="14" [showIcon]="false"
                    [showText]="true">
                  </share-buttons>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <aside class="sidebar">
          <div class="sidebar-body">
            <img src="../dist/assets/img/banner.png" alt="" class="img-fluid">
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>