<section id="section" class="section newservice clean">
  <div class="container">
    <div class="section-title">
      <h5>Все услуги</h5>
    </div>
    <div class="section-body">
      <div class="row newservice-service">
        <div class="col-md-4">
          <div class="card">
            <h6 class="card-title">Дом</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний света</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Управление многоквартирным домом</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h6 class="card-title">Образование</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний света</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Тазалык</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h6 class="card-title">Транспорт</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Проект “Электронное билетирование”</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Все транспортные маршруты г. Бишкек</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Тазалык</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h6 class="card-title">Социальная поддержка</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Ваши предложения и обращения</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Горячая линия - НЕТ коррупции</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Горячая линия службы оперативного реагирования мэрии г. Бишкек “185”</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h6 class="card-title">Мои документы</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Реестр объектов муниципальной собственности на имущество</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний света</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Тазалык</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h6 class="card-title">Здоровье</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Прием показаний света</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['/services/sample']">Тазалык</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>