<section id="section" class="section links">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="links-slide">
              <div class="col">
                <a href="#">
                  <div class="media">
                    <img class="align-self-center media-img mx-auto" src="../dist/assets/img/links/1.png">
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="media">
                    <img class="align-self-center media-img mx-auto" src="../dist/assets/img/links/2.png">
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="media">
                    <img class="align-self-center media-img mx-auto" src="../dist/assets/img/links/3.png">
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="media">
                    <img class="align-self-center mr-3 media-img" src="../dist/assets/img/links/4.png">
                    <h6 class="align-self-center media-title">кыргыз республикасынын президентине караштуу мамлекеттик тил боюнча улуттук комиссия</h6>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="media">
                    <img class="align-self-center media-img mx-auto h70" src="../dist/assets/img/links/5.png">
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#">
                  <div class="media">
                    <img class="align-self-center mr-3 media-img" src="../dist/assets/img/links/6.png">
                    <h6 class="align-self-center media-title">Антикоррупционная политика Правительства Кыргызской Республики</h6>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>