<header class="header fixed-collapse fixed-top version">
  <nav class="navbar navbar-expand-lg navbar-top">
    <div class="container">
      <nav class="nav navbar-social">
        <a class="nav-link fb" href="#">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a class="nav-link in" href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="nav-link yt" href="#">
          <i class="fab fa-youtube"></i>
        </a>
      </nav>

      <ul class="navbar-nav ml-auto top-menu">
        <li class="nav-item nav-version">
          <a class="nav-link" [routerLink]="['/version']">Версия для слабовидящих</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Русский</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">English</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="line"></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-bottom">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../dist/assets/img/logo-mini.png" class="d-inline-block">
        <div class="d-inline-block navbar-brand-text">Официальный сайт мэрии города Бишкек</div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bashkaruu']">История города</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Мэрия</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Пресс-служба</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </div>
  </nav>
</header>

<section id="section" class="section videoheader version">
  <div id="container">
    <video autoplay muted loop onloadstart="this.volume=0">
      <source src="../dist/assets/video/bishkek.mp4" type="video/mp4">
    </video>
  </div>
  <div id="overlay"></div>
</section>

<section id="section" class="section navs version">
  <div class="container">
    <ul class="navmiddle">
      <li class="dropdown">
        <a href="#">
          <h6>Жителям
            <i class="fa fa-angle-down"></i>
          </h6>
        </a>
        <div class="fulldrop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Управления</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «ЗЕЛЕНСТРОЙ»</a>
                  </li>
                  <li>
                    <a href="#">Управление Государственной противопожарной службы</a>
                  </li>
                  <li>
                    <a href="#">Горячая линия - Нет коррупции!</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской комитет по физической культуре и спорту</a>
                  </li>
                  <li>
                    <a href="#">Управление социального развития</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Муниципалитеты</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКСВЕТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКГОРЛИФТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальная пекарня</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное «Бишкекское пассажирское автотранспортное предприятие»</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Прокуратура</h3>
                <ul>
                  <li>
                    <a href="#">Государственная налоговая служба по городу Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Отдел развития Государственного языка при мэрии города Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Производственно-эксплуатационное управление «Бишкекводоканал»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">
          <h6>Бизнесу
            <i class="fa fa-angle-down"></i>
          </h6>
        </a>
        <div class="fulldrop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Управления</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «ЗЕЛЕНСТРОЙ»</a>
                  </li>
                  <li>
                    <a href="#">Управление Государственной противопожарной службы</a>
                  </li>
                  <li>
                    <a href="#">Горячая линия - Нет коррупции!</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской комитет по физической культуре и спорту</a>
                  </li>
                  <li>
                    <a href="#">Управление социального развития</a>
                  </li>
                  <li>
                    <a href="#">Управление образования</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Муниципалитеты</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКСВЕТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКГОРЛИФТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальная пекарня</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное «Бишкекское пассажирское автотранспортное предприятие»</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Санитарии</h3>
                <ul>
                  <li>
                    <a href="#">Санитарно-экологическая инспекция</a>
                  </li>
                  <li>
                    <a href="#">Служба оперативного реагирования «185»</a>
                  </li>
                  <li>
                    <a href="#">СМЭУ ДПС МВД Кыргызской Республики</a>
                  </li>
                  <li>
                    <a href="#">Коммунальное предприятие «БИШКЕКТЕПЛОЭНЕРГО»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «БИШКЕКТЕПЛОСЕТЬ»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «СЕВЕРЭЛЕКТРО»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">
          <h6>Гостям
            <i class="fa fa-angle-down"></i>
          </h6>
        </a>
        <div class="fulldrop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Управления</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «ЗЕЛЕНСТРОЙ»</a>
                  </li>
                  <li>
                    <a href="#">Управление Государственной противопожарной службы</a>
                  </li>
                  <li>
                    <a href="#">Горячая линия - Нет коррупции!</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской комитет по физической культуре и спорту</a>
                  </li>
                  <li>
                    <a href="#">Управление социального развития</a>
                  </li>
                  <li>
                    <a href="#">Управление образования</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское городское управление Министерство молодежи, труда и занятости КР</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской суд</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское управление газового хозяйства ОАО «КЫРГЫЗГАЗ»</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской Драматический театр имени А.Умуралиева</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское управление юстиции</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Муниципалитеты</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКСВЕТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКГОРЛИФТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальная пекарня</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное «Бишкекское пассажирское автотранспортное предприятие»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «ТАЗАЛЫК»</a>
                  </li>
                  <li>
                    <a href="#">Департамент здравоохранения</a>
                  </li>
                  <li>
                    <a href="#">Управление землепользования и строительства</a>
                  </li>
                  <li>
                    <a href="#">Агентство развития города</a>
                  </li>
                  <li>
                    <a href="#">Управление МЧС по городу Бишкек</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Прокуратура</h3>
                <ul>
                  <li>
                    <a href="#">Государственная налоговая служба по городу Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Отдел развития Государственного языка при мэрии города Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Производственно-эксплуатационное управление «Бишкекводоканал»</a>
                  </li>
                  <li>
                    <a href="#">Общественно-Государственное управление капитального строительства</a>
                  </li>
                  <li>
                    <a href="#">Центр Государственного санитарно-эпидемиологического надзора</a>
                  </li>
                  <li>
                    <a href="#">Бишкекская городская дезинфекционная станция по профилактической дезинфекции</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское агентство ритуальных услуг</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Санитарии</h3>
                <ul>
                  <li>
                    <a href="#">Санитарно-экологическая инспекция</a>
                  </li>
                  <li>
                    <a href="#">Служба оперативного реагирования «185»</a>
                  </li>
                  <li>
                    <a href="#">СМЭУ ДПС МВД Кыргызской Республики</a>
                  </li>
                  <li>
                    <a href="#">Коммунальное предприятие «БИШКЕКТЕПЛОЭНЕРГО»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «БИШКЕКТЕПЛОСЕТЬ»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «СЕВЕРЭЛЕКТРО»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="section" class="section newservice version">
  <div class="container">
    <div class="section-title">
      <h5>Новости</h5>
      <a [routerLink]="['/news']" class="section-title-right">Все новости</a>
    </div>
    <div class="newservice-news">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="newservice-news-slide">
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/4.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/4']">Квартиры для участников ВОВ</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/1.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/1']">В столице Кыргызстана проходит новогоднее шествие Дед Морозов и Снегурочек</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/3.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/3']">Иса Омуркулов вручил ветеранам ВОВ ключи от однокомнатных квартир в центре Бишкека</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/2.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/2']">Праздничное шествие дедов морозов</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="section-title">
      <h5>Услуги</h5>
      <a [routerLink]="['/services']" class="section-title-right">Все услуги</a>
    </div>
    <div class="row newservice-service">
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Дом</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Управление многоквартирным домом</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Образование</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Транспорт</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Проект “Электронное билетирование”</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Все транспортные маршруты г. Бишкек</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тарифы на городской транспорт</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Социальная поддержка</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Ваши предложения и обращения</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Горячая линия - НЕТ коррупции</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Горячая линия службы оперативного реагирования мэрии г. Бишкек “185”</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Мои документы</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Реестр объектов муниципальной собственности на имущество</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Здоровье</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section" class="section medias version">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <nav class="nav nav-tabs" id="myTab" role="tablist">
          <a class="nav-item nav-link active" id="nav-photo-tab" data-toggle="tab" href="#nav-photo" role="tab" aria-controls="nav-photo"
            aria-selected="true">
            <h5>Фоторепортаж</h5>
          </a>
          <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video"
            aria-selected="false">
            <h5>Видеорепортаж</h5>
          </a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-photo" role="tabpanel" aria-labelledby="nav-photo-tab">
            <div class="row">
              <div class="col-md-12 no-padding">
                <div class="medias-photo-slide">
                  <div class="px-2">
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/6.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/photos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую
                              медаль в Международном турнире</a>
                          </h6>
                          <span class="card-date">8 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-camera"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/5.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/photos/view']">В столице подвели итоги XIХ фестиваля среди лиц с ограниченными возможностями</a>
                          </h6>
                          <span class="card-date">5 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-camera"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/8.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/photos/view']">В столичном жилом массиве «Колмо» состоялось открытие первого детского сада</a>
                          </h6>
                          <span class="card-date">8 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-camera"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/9.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/photos/view']">В столице стартовал фестиваль «Мелодия и ремесла»</a>
                          </h6>
                          <span class="card-date">5 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-camera"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/6.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/photos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую
                              медаль в Международном турнире
                            </a>
                          </h6>
                          <span class="card-date">8 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-camera"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/5.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/photos/view']">В столице подвели итоги XIХ фестиваля среди лиц с ограниченными возможностями</a>
                          </h6>
                          <span class="card-date">5 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-camera"></i>
                          </span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer clearfix">
              <div class="float-left card-all">
                <h6>
                  <a [routerLink]="['/photos']">Все фоторепортажи
                    <i class="fa fa-angle-right fam"></i>
                  </a>
                </h6>
              </div>
              <div class="float-right card-arrow">
                <div class="fll-photo">
                  <i class="fa fa-long-arrow-alt-left"></i>
                </div>
                <div class="flr-photo">
                  <i class="fa fa-long-arrow-alt-right"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
            <div class="row">
              <div class="col-md-12 no-padding">
                <div class="medias-video-slide">
                  <div class="px-2">
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/6.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/videos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую
                              медаль в Международном турнире
                            </a>
                          </h6>
                          <span class="card-date">8 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-play"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/5.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/videos/view']">В столице подвели итоги XIХ фестиваля среди лиц с ограниченными возможностями</a>
                          </h6>
                          <span class="card-date">5 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-play"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/6.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/videos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую
                              медаль в Международном турнире
                            </a>
                          </h6>
                          <span class="card-date">8 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-play"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/5.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/videos/view']">В столице подвели итоги XIХ фестиваля среди лиц с ограниченными возможностями</a>
                          </h6>
                          <span class="card-date">5 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-play"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/6.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/videos/view']">Мэр столицы Албек Ибраимов встретил юношескую сборную Бишкека по хоккею, завоевавшую золотую
                              медаль в Международном турнире
                            </a>
                          </h6>
                          <span class="card-date">8 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-play"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="../dist/assets/img/home/5.png" alt="">
                      <div class="card-img-overlay">
                        <div class="card-body">
                          <h6 class="card-title">
                            <a [routerLink]="['/videos/view']">В столице подвели итоги XIХ фестиваля среди лиц с ограниченными возможностями</a>
                          </h6>
                          <span class="card-date">5 декабрь 2017</span>
                          <span class="card-fa">
                            <i class="fa fa-play"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer clearfix">
              <div class="float-left card-all">
                <h6>
                  <a [routerLink]="['/videos']">Все видеорепортажи
                    <i class="fa fa-angle-right fam"></i>
                  </a>
                </h6>
              </div>
              <div class="float-right card-arrow">
                <div class="fll-video">
                  <i class="fa fa-long-arrow-alt-left"></i>
                </div>
                <div class="flr-video">
                  <i class="fa fa-long-arrow-alt-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mayor">
        <div class="section-title">
          <h5>Мэр столицы</h5>
        </div>
        <div class="section-body">
          <div class="card">
            <img class="card-img" src="../dist/assets/img/home/7.png" alt="">
            <h6 class="card-title">
              <a href="#">Мэр города Бишкек Ибраимов Албек Сабирбекович</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section" class="section projects version">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="blocks-slide">
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/1.png">
                  <h6 class="align-self-center media-title">Тендеры по проекту Бишкек ТБО</h6>
                </div>
              </a>
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/2.png">
                  <h6 class="align-self-center media-title">Тендер на приобретение троллейбусов</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/4.png">
                  <h6 class="align-self-center media-title">ОБСУЖДЕНИЕ ПРАВИЛ ОБРАЩЕНИЯ С ТБО В Г.БИШКЕК</h6>
                </div>
              </a>
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/7.png">
                  <h6 class="align-self-center media-title">План социальных и экологических мероприятий проекта Управление ТБО</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media yellow">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/9.png">
                  <h6 class="align-self-center media-title">Проект Программы социально- экономического развития города Бишкек на 2017 – 2020 годы </h6>
                </div>
              </a>
              <a href="#">
                <div class="media yellow">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/3.png">
                  <h6 class="align-self-center media-title">Программа развития г. Бишкек на 2014-2018 гг.</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/5.png">
                  <h6 class="align-self-center media-title">Информация о ходе дорожно- ремонтных работ</h6>
                </div>
              </a>
              <a href="#">
                <div class="media yellow">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/6.png">
                  <h6 class="align-self-center media-title">итоги социально- экономиttческого развития мэрии г. Бишкек за 2016 год</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/8.png">
                  <h6 class="align-self-center media-title">Проект правил организации пассажирских перевозок автомобильным транспортом в городе бишкек</h6>
                </div>
              </a>
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/8.png">
                  <h6 class="align-self-center media-title">Проект правил организации пассажирских перевозок автомобильным транспортом в городе бишкек</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section" class="section links version">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="links-slide">
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center media-img mx-auto" src="../dist/assets/img/links/1.png">
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center media-img mx-auto" src="../dist/assets/img/links/2.png">
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center media-img mx-auto" src="../dist/assets/img/links/3.png">
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/links/4.png">
                  <h6 class="align-self-center media-title">кыргыз республикасынын президентине караштуу мамлекеттик тил боюнча улуттук комиссия</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center media-img mx-auto h70" src="../dist/assets/img/links/5.png">
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/links/6.png">
                  <h6 class="align-self-center media-title">Антикоррупционная политика Правительства Кыргызской Республики</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="footer version">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Руководство</a>
          </li>
          <li class="list-group-item">
            <a href="#">Управление мэрии</a>
          </li>
          <li class="list-group-item">
            <a href="#">Административные районы</a>
          </li>
          <li class="list-group-item">
            <a href="#">Структурные подразделения и муниципальные предприятия</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Постановления</a>
          </li>
          <li class="list-group-item">
            <a href="#">Отчеты</a>
          </li>
          <li class="list-group-item">
            <a href="#">Тарифы</a>
          </li>
          <li class="list-group-item">
            <a href="#">Тендеры</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">О столице</a>
          </li>
          <li class="list-group-item">
            <a href="#">Карта города</a>
          </li>
          <li class="list-group-item">
            <a href="#">Памтяка для туристов</a>
          </li>
          <li class="list-group-item">
            <a href="#">Достопримечательности</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Новости</a>
          </li>
          <li class="list-group-item">
            <a href="#">Фоторепортажи</a>
          </li>
          <li class="list-group-item">
            <a href="#">Вакансии</a>
          </li>
          <li class="list-group-item">
            <a href="#">Ващи предложения и обращения</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Карта сайта</a>
          </li>
          <li class="list-group-item">
            <a href="#">Обратная связь</a>
          </li>
          <li class="list-group-item">
            <a href="#">Контакты</a>
          </li>
          <li class="list-group-item version">
            <a href="#">Версия для слабовидящих</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-middle clearfix">
          <div class="float-left">
            <div class="btn btn-version">
              <a href="#">Версия для слабовидящих</a>
            </div>
          </div>
          <div class="float-right">
            <nav class="nav footer-middle-social">
              <a class="nav-link fb" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a class="nav-link in" href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="nav-link yt" href="#" data-toggle="tooltip" data-placement="top" title="YouTube">
                <i class="fab fa-youtube"></i>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-bottom">
          <div class="float-left">
            <p class="text-left">Все права защищены © 2017 Мэрия города Бишкек</p>
          </div>
          <div class="float-right">
            <p class="text-right">0(312) 61-11-66, Проспект Чуй 166</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>