<section id="section" class="section article clean">
  <div class="container" *ngIf="post">
    <div class="row">
      <div class="col-sm-9">
        <figure class="article-figure">
          <img src="{{post.thumbnailM}}" class="figure-img img-fluid" alt="Описание картинки">
          <div class="article-info">
              <span class="article-info-date text-left align-self-center">19 Декабрь 2017</span>
              <span class="article-info-cat float-right">
                <ul class="article-info-cat-links">
                  <li><a href="#">Транспорт</a></li>
                </ul>  
              </span>
              <!-- <figcaption class="figure-caption float-right">{{post.thumbdescRu}}</figcaption> -->
          </div>
        </figure>
        <div class="article-title">
          <h5>{{post.titleKg}}</h5>
        </div>

        <div class="article-body">
          <!-- <article [innerHTML]="post.contentRu"></article> -->
          <article>
            <p>
              23 декабря на Старой площади столицы под руководством начальника ГУВД города Бишкек Сталбека Рахманова была проведена проверка
              готовности милиционеров нести службу во время новогодних праздников.</p>
            
            <p>
              На гарнизонном разводе, также приняли участие мэр Бишкека Албек Ибраимов, председатель Бишкекского городского кенеша Алмаз
              Кенебаев, главы районных администраций и представители правоохранительных органов.
              <br>
              <br> Мэр столицы Албек Ибраимов отметил, что перед органами внутренних дел Бишкекского гарнизона стоит задача обеспечить порядок
              и общественную безопасность во время празднования Нового 2018 года. Добровольные народные дружины во взаимодействии со
              штатными сотрудниками милиции будут оказывать содействие для охраны общественного порядка.
              <br>
              <br> "Уважаемые сотрудники милиции и дружинники! В преддверии нового года наши горожане надеются, что их безопасность будет
              в надежных руках милиции. Я уверен, что во время новогодних праздников с вашей стороны будет обеспечен общественный порядок,стабильность
              и безопасность наших горожан и гостей столицы", - отметил мэр.
              <br>
              <br> Во время празднования Нового года в Бишкеке будет задействовано более 2 500 тысяч сотрудников столичной милиции, а также
              привлечены добровольные народные дружины из всех столичных районов, которые будут обеспечивать общественный порядок и безопасность
              граждан.</p>
          </article>
        </div>
        <div class="article-footer">
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-top">
                <ul class="tags">
                    <caption>Теги:</caption>
                    <li><a href="#">ветераны</a>, </li>
                    <li><a href="#">новый год</a>, </li>
                    <li><a href="#">мэр</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="footer-bottom">
                <div class="share">
                  <share-buttons [theme]="'outline'" [include]="['facebook','twitter','google','vk', 'whatsapp','telegram']" [show]="6"
                    [showIcon]="false" [showText]="true" [showCount]="true" [title]="post.titleKg" [description]="post.descKg" [image]="post.thumbnailS">
                  </share-buttons>
                </div>        
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <aside class="sidebar">
          <!-- <div class="sidebar-title">
            <h6>Ссылки</h6>
          </div> -->
          <div class="sidebar-body">
            <img src="../dist/assets/img/banner.png" alt="" class="img-fluid">
            <!-- <ul class="sidebar-body-links">
              <li><a href="#">Аппарат мэрии</a></li>
              <li><a href="#">Административные районы</a></li>
              <li><a href="#">Структурные подразделения и муниципальные предприятия</a></li>
              <li><a href="#">Постановления</a></li>
              <li><a href="#">Отчеты</a></li>
              <li><a href="#">О столице</a></li>
              <li><a href="#">Тарифы</a></li>
            </ul> -->
            <div class="banner">
              <!-- <img src="../dist/assets/img/banner.png" alt="" class="img-fluid"> -->
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>