 <ul class="main-menu">
    <li class="has-sub-menu">
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-window-content"></div>
        </div>
        <span>Башкы бет</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu']">Башкы бет</a>
        </li>
      </ul>
    </li>
    <li class="has-sub-menu">
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-edit-1"></div>
        </div>
        <span>Макалалар</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu']">Бардыгы</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu']">Жаңы макала</a>
        </li>
      </ul>
    </li>
    <li class="has-sub-menu">
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-window-content"></div>
        </div>
        <span>Медиакитепкана</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu']">Башкы бет</a>
        </li>
      </ul>
    </li>
    <li class="has-sub-menu">
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-email-2-at"></div>
        </div>
        <span>Каттар</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu']">Башкы бет</a>
        </li>
      </ul>
    </li>
    <li class="has-sub-menu">
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-bar-chart-stats-up"></div>
        </div>
        <span>Статистика</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu']">Башкы бет</a>
        </li>
      </ul>
    </li>
    <li class="has-sub-menu">
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-user-male-circle"></div>
        </div>
        <span>Колдонуучулар</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu/users/all']">Бардыгы</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/bashkaruu/users/register']">Жаңы колдонуучу</a>
        </li>
      </ul>
    </li>
  </ul>