<div class="with-side-panel">
<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <h6 class="element-header">Бардык колдонуучулар</h6>
          <div class="element-box">
            <div class="table-responsive">
              <!-- <blockquote>Please click on a row</blockquote>
              <p class="text-danger">You clicked on:
                <strong>{{ message }}</strong>
              </p>
              <br /> -->
                <table datatable [dtOptions]="dtOptions" class="table table-lightborder"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-panel">
    <div class="content-panel-close">
      <i class="os-icon os-icon-close"></i>
    </div>
    <div class="element-wrapper">
      <h6 class="element-header">Аракет</h6>
      <div class="element-box-tp">
        <div class="el-buttons-list full-width">
          <a class="btn btn-default" [routerLink]="['/bashkaruu/users/register']">
            <span>Жаңы колдонуучу</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>