<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Руководство</a>
          </li>
          <li class="list-group-item">
            <a href="#">Управление мэрии</a>
          </li>
          <li class="list-group-item">
            <a href="#">Административные районы</a>
          </li>
          <li class="list-group-item">
            <a href="#">Структурные подразделения и муниципальные предприятия</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Постановления</a>
          </li>
          <li class="list-group-item">
            <a href="#">Отчеты</a>
          </li>
          <li class="list-group-item">
            <a href="#">Тарифы</a>
          </li>
          <li class="list-group-item">
            <a href="#">Тендеры</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">О столице</a>
          </li>
          <li class="list-group-item">
            <a href="#">Карта города</a>
          </li>
          <li class="list-group-item">
            <a href="#">Памтяка для туристов</a>
          </li>
          <li class="list-group-item">
            <a href="#">Достопримечательности</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Новости</a>
          </li>
          <li class="list-group-item">
            <a href="#">Фоторепортажи</a>
          </li>
          <li class="list-group-item">
            <a href="#">Вакансии</a>
          </li>
          <li class="list-group-item">
            <a href="#">Ващи предложения и обращения</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">Карта сайта</a>
          </li>
          <li class="list-group-item">
            <a href="#">Обратная связь</a>
          </li>
          <li class="list-group-item">
            <a href="#">Контакты</a>
          </li>
          <li class="list-group-item version">
            <a href="#">Версия для слабовидящих</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-middle clearfix">
          <div class="float-left">
            <div class="btn btn-version">
              <a href="#">Версия для слабовидящих</a>
            </div>
          </div>
          <div class="float-right">
            <nav class="nav footer-middle-social">
              <a class="nav-link fb" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a class="nav-link in" href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="nav-link yt" href="#" data-toggle="tooltip" data-placement="top" title="YouTube">
                <i class="fab fa-youtube"></i>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-bottom">
          <div class="float-left">
            <p class="text-left">Все права защищены © 2017 Мэрия города Бишкек</p>
          </div>
          <div class="float-right">
            <p class="text-right">0(312) 61-11-66, Проспект Чуй 166</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>