<section id="section" class="section projects">
  <div class="container">
    <div class="section-body">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="blocks-slide">
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/1.png">
                  <h6 class="align-self-center media-title">Тендеры по проекту Бишкек ТБО</h6>
                </div>
              </a>
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/2.png">
                  <h6 class="align-self-center media-title">Тендер на приобретение троллейбусов</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/4.png">
                  <h6 class="align-self-center media-title">ОБСУЖДЕНИЕ ПРАВИЛ ОБРАЩЕНИЯ С ТБО В Г.БИШКЕК</h6>
                </div>
              </a>
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/7.png">
                  <h6 class="align-self-center media-title">План социальных и экологических мероприятий проекта Управление ТБО</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media yellow">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/9.png">
                  <h6 class="align-self-center media-title">Проект Программы социально- экономического развития города Бишкек на 2017 – 2020 годы </h6>
                </div>
              </a>
              <a href="#">
                <div class="media yellow">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/3.png">
                  <h6 class="align-self-center media-title">Программа развития г. Бишкек на 2014-2018 гг.</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/5.png">
                  <h6 class="align-self-center media-title">Информация о ходе дорожно- ремонтных работ</h6>
                </div>
              </a>
              <a href="#">
                <div class="media yellow">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/6.png">
                  <h6 class="align-self-center media-title">итоги социально- экономиttческого развития мэрии г. Бишкек за 2016 год</h6>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/8.png">
                  <h6 class="align-self-center media-title">Проект правил организации пассажирских перевозок автомобильным транспортом в городе бишкек</h6>
                </div>
              </a>
              <a href="#">
                <div class="media">
                  <img class="align-self-center mr-3 media-img" src="../dist/assets/img/projects/8.png">
                  <h6 class="align-self-center media-title">Проект правил организации пассажирских перевозок автомобильным транспортом в городе бишкек</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>