<section id="section" class="section  clean">
  <div class="container">
    <div class="section-title">
      <h5>Тарифы на городской транспорт</h5>
    </div>
    <div class="section-body">
      <article>
          <p>
             Для обеспечения стабильной работы пассажирского транспорта, бесперебойной перевозки жителей и гостей столицы, улучшения
            экономического состояния муниципальных предприятий пассажирского транспорта, регулирования цен на услуги, а также с целью
            предоставления бесплатного проезда в городском пассажирском транспорте отдельным категориям граждан Бишкекский городской
            кенеш принял постановление о тарифах на перевозку пассажиров и багажа общественным пассажирским транспортом (троллейбус,
            автобус, маршрутное такси) в городе Бишкек с 1 мая 2012 года.
          </p>

<table class="table table-page">
  <thead class="thead-light">
    <tr>
      <th colspan="2">1. Стоимость проезда одного пассажира:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>- в троллейбусе</td>
      <td>8-00 сомов;</td>
    </tr>
    <tr>
      <td>- в автобусе</td>
      <td> 8-00 сомов;</td>
    </tr>
    <tr>
      <td>- в маршрутном такси с 6.00 ч. до 21.00 ч.</td>
      <td> 10-00 сомов;</td>
    </tr>
    <tr>
      <td>- в маршрутном такси с 21.00 ч. до 24.00 ч.</td>
      <td> 12-00 сомов;</td>
    </tr>
  </tbody>
</table>

<table class="table table-page">
  <thead>
    <tr>
      <th colspan="2">В маршрутном такси экспрессивного маршрута:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>- № 177 Ошский р-к – р-к «Дордой»</td>
      <td>12-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 191 ж/д вокзал – р-к «Дордой»</td>
      <td> 12-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 230 ТЦ «Дордой Плаза» - р-к «Дордой»</td>
      <td>12-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 233 р-к «Аламедин» - р-к «Дордой».</td>
      <td> 12-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 234 ТЦ «Мадина» - р-к «Дордой»</td>
      <td>12-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 218 р-к «Дордой-Дыйкан» - р-к «Дордой»</td>
      <td>12-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 226 6 мкр. – р-к «Дордой»</td>
      <td>17-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 252 мкр. Асанбай - р-к «Дордой»</td>
      <td>17-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 123 мкр. Аламедин 1 – р-к «Дордой»</td>
      <td>17-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 128 мкр. Тунгуч – р-к «Кербен»</td>
      <td>17-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 192 ост. «Киркомстром» - р-к «Ак-Суу»</td>
      <td>17-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 193 12 мкр. – р-к «Ак-Суу»</td>
      <td>17-00 сомов;</td>
    </tr>
    <tr>
      <td>- № 201 ж/м «Арча-Бешик» - р-к «Дордой»</td>
      <td>17-00 сомов;</td>
    </tr>
  </tbody>
</table>

<table class="table table-page">
  <thead class="thead-light">
    <tr>
      <th colspan="2">2. Плата за перевозку 1 места багажа в автобусах, троллейбусах весом:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>- свыше 40 кг или 50х60х100см</td>
      <td>8-00 сомов;</td>
    </tr>
  </tbody>
</table>
<table class="table table-page">
  <caption>Расходы на изготовление бланка проездного билета включать по его фактической себестоимости.</caption>
  <thead class="thead-light">
    <tr>
      <th colspan="2">3. Стоимость месячного проездного билета:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>- школьный (единый)</td>
      <td>175-00 сомов;</td>
    </tr>
    <tr>
      <td>- автобус, троллейбус (единый)</td>
      <td>495-00 сомов;</td>
    </tr>
  </tbody>
</table>

<table class="table table-page">
<caption>Основанием для бесплатного проезда в муниципальном общественном пассажирском транспорте являются документы установленного
образца, подтверждающие принадлежность к категориям граждан, имеющих право льготного проезда, при наличии именной карточки
льготника.</caption>
  <thead class="thead-light">
    <tr>
      <th>4. Установить право бесплатного проезда в муниципальном общественном пассажирском транспорте следующим категориям граждан
      города Бишкек:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>- пенсионерам по возрасту;</td>
    </tr>
    <tr>
      <td>- лицам с ограниченными возможностями здоровья I, II, III группы общего заболевания и трудового увечья;</td>
    </tr>
    <tr>
      <td>- лицам с ограниченными возможностями здоровья с детства;</td>
    </tr>
    <tr>
      <td>- детям в возрасте до 7 лет;</td>
    </tr>
    <tr>
      <td>- почтальонам Государственного предприятия почтовой связи «Кыргызпочтасы», при исполнении ими служебных обязанностей.</td>
    </tr>
  </tbody>
</table>

  
        
      </article>
    </div>
  </div>
</section>