<div class="bashkaruu">
  <div class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
      <div class="auth-box-w">
        <div class="logo-w">
          <a href="index.html">
            <img alt="" src="../assets/bashkaruu/img/logo.png">
          </a>
        </div>
        <h4 class="auth-header">Авторизация</h4>
        <form (ngSubmit)="onLogin()" novalidate>
          <div class="form-group">
            <div *ngIf="error" class="alert alert-warning">{{error}}</div>
            <label for="">Электронная почта</label>
            <input type="text" class="form-control" id="email" placeholder="введите email" [(ngModel)]="user.email" name="email" required>
            <div class="pre-icon os-icon os-icon-email-2-at"></div>
          </div>
          <div class="form-group">
            <label for="">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="введите пароль" [(ngModel)]="user.password" name="password"
              required>
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
          </div>
          <div class="buttons-w">
            <button type="submit" class="btn btn-primary">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>