// Colors

$main-color: #0d4ea4;
$second-color: #005ead;
$yellow: #ff8152;

$green: #f1ff14;



$black: #333;
$link: #007bff;
$blacktitle: #525252;

$tabcolor: #939393;
$tabcoloractive: #2CC185;

$background: #f7f8fb;

$boz: #868e96;