<section id="section" class="section newservice">
  <div class="container">
    <div class="section-title">
      <h5>Новости</h5>
      <a [routerLink]="['/news']" class="section-title-right">Все новости</a>
    </div>
    <div class="newservice-news">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="newservice-news-slide">
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/home/1.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a href="#">В МП «Зеленстрой» появилась техника для очистки ЗКДС</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/home/2.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a href="#">Столичные школьники встретились с династией милиционеров в рамках проекта «Жаш карек»</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/home/3.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a href="#">Мэр столицы Албек Ибраимов совершил объезд по строящимся объектам</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/home/1.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a href="#">В МП «Зеленстрой» появилась техника для очистки ЗКДС</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/home/2.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a href="#">Столичные школьники встретились с династией милиционеров в рамках проекта «Жаш карек»</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/home/3.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a href="#">Мэр столицы Албек Ибраимов совершил объезд по строящимся объектам</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-title">
      <h5>Услуги</h5>
      <a href="#" class="section-title-right">Все услуги</a>
    </div>
    <div class="row newservice-service">
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Дом</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a href="#">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a href="#">Управление многоквартирным домом</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Образование</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a href="#">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a href="#">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Транспорт</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Проект “Электронное билетирование”</a>
            </li>
            <li class="list-group-item">
              <a href="#">Все транспортные маршруты г. Бишкек</a>
            </li>
            <li class="list-group-item">
              <a href="#">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Социальная поддержка</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Ваши предложения и обращения</a>
            </li>
            <li class="list-group-item">
              <a href="#">Горячая линия - НЕТ коррупции</a>
            </li>
            <li class="list-group-item">
              <a href="#">Горячая линия службы оперативного реагирования мэрии г. Бишкек “185”</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Мои документы</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Реестр объектов муниципальной собственности на имущество</a>
            </li>
            <li class="list-group-item">
              <a href="#">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a href="#">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Здоровье</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="#">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a href="#">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a href="#">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>