<section id="section" class="section newservice">
  <div class="container">
    <div class="section-title">
      <h5>Новости</h5>
      <a [routerLink]="['/news']" class="section-title-right">Все новости</a>
    </div>
    <div class="newservice-news">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="newservice-news-slide">
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/1.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/1']">Мэр города Бишкек Албек Ибраимов принял участие в гарнизонном разводе столичной милиции</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/4.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/4']">Столичная мэрия поздравила энергетиков с профессиональным праздником</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/2.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/2']">Ленинский акимиат поздравил детей с ОВЗ с наступающим Новым Годом</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="../dist/assets/img/posts/3.png" alt="">
                <div class="card-body">
                  <div class="media">
                    <div class="media-left mr-3">
                      <span class="m-top">20</span>
                      <span class="m-bottom">ноября</span>
                    </div>
                    <div class="media-body">
                      <h6 class="card-title">
                        <a [routerLink]="['/news/3']">В Бишкеке открылась фотовыставка «Бишкек – мой любимый город!»</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-title">
      <h5>Услуги</h5>
      <a [routerLink]="['/services']" class="section-title-right">Все услуги</a>
    </div>
    <div class="row newservice-service">
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Дом</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Управление многоквартирным домом</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Образование</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Транспорт</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Проект “Электронное билетирование”</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Все транспортные маршруты г. Бишкек</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тарифы на городской транспорт</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Социальная поддержка</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Ваши предложения и обращения</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Горячая линия - НЕТ коррупции</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Горячая линия службы оперативного реагирования мэрии г. Бишкек “185”</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Мои документы</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Реестр объектов муниципальной собственности на имущество</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6 class="card-title">Здоровье</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний счетчиков воды</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Прием показаний света</a>
            </li>
            <li class="list-group-item">
              <a [routerLink]="['/services/sample']">Тазалык</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>