<section id="section" class="section navs">
  <div class="container">
    <ul class="navmiddle">
      <li class="dropdown">
        <a href="#">
          <h6>Жителям
            <i class="fa fa-angle-down"></i>
          </h6>
        </a>
        <div class="fulldrop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Управления</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «ЗЕЛЕНСТРОЙ»</a>
                  </li>
                  <li>
                    <a href="#">Управление Государственной противопожарной службы</a>
                  </li>
                  <li>
                    <a href="#">Горячая линия - Нет коррупции!</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской комитет по физической культуре и спорту</a>
                  </li>
                  <li>
                    <a href="#">Управление социального развития</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Муниципалитеты</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКСВЕТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКГОРЛИФТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальная пекарня</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное «Бишкекское пассажирское автотранспортное предприятие»</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Прокуратура</h3>
                <ul>
                  <li>
                    <a href="#">Государственная налоговая служба по городу Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Отдел развития Государственного языка при мэрии города Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Производственно-эксплуатационное управление «Бишкекводоканал»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">
          <h6>Бизнесу
            <i class="fa fa-angle-down"></i>
          </h6>
        </a>
        <div class="fulldrop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Управления</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «ЗЕЛЕНСТРОЙ»</a>
                  </li>
                  <li>
                    <a href="#">Управление Государственной противопожарной службы</a>
                  </li>
                  <li>
                    <a href="#">Горячая линия - Нет коррупции!</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской комитет по физической культуре и спорту</a>
                  </li>
                  <li>
                    <a href="#">Управление социального развития</a>
                  </li>
                  <li>
                    <a href="#">Управление образования</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Муниципалитеты</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКСВЕТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКГОРЛИФТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальная пекарня</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное «Бишкекское пассажирское автотранспортное предприятие»</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Санитарии</h3>
                <ul>
                  <li>
                    <a href="#">Санитарно-экологическая инспекция</a>
                  </li>
                  <li>
                    <a href="#">Служба оперативного реагирования «185»</a>
                  </li>
                  <li>
                    <a href="#">СМЭУ ДПС МВД Кыргызской Республики</a>
                  </li>
                  <li>
                    <a href="#">Коммунальное предприятие «БИШКЕКТЕПЛОЭНЕРГО»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «БИШКЕКТЕПЛОСЕТЬ»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «СЕВЕРЭЛЕКТРО»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">
          <h6>Гостям
            <i class="fa fa-angle-down"></i>
          </h6>
        </a>
        <div class="fulldrop">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Управления</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «ЗЕЛЕНСТРОЙ»</a>
                  </li>
                  <li>
                    <a href="#">Управление Государственной противопожарной службы</a>
                  </li>
                  <li>
                    <a href="#">Горячая линия - Нет коррупции!</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской комитет по физической культуре и спорту</a>
                  </li>
                  <li>
                    <a href="#">Управление социального развития</a>
                  </li>
                  <li>
                    <a href="#">Управление образования</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское городское управление Министерство молодежи, труда и занятости КР</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской суд</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское управление газового хозяйства ОАО «КЫРГЫЗГАЗ»</a>
                  </li>
                  <li>
                    <a href="#">Бишкекский городской Драматический театр имени А.Умуралиева</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское управление юстиции</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Муниципалитеты</h3>
                <ul>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКСВЕТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «БИШКЕКГОРЛИФТ»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальная пекарня</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное «Бишкекское пассажирское автотранспортное предприятие»</a>
                  </li>
                  <li>
                    <a href="#">Муниципальное предприятие «ТАЗАЛЫК»</a>
                  </li>
                  <li>
                    <a href="#">Департамент здравоохранения</a>
                  </li>
                  <li>
                    <a href="#">Управление землепользования и строительства</a>
                  </li>
                  <li>
                    <a href="#">Агентство развития города</a>
                  </li>
                  <li>
                    <a href="#">Управление МЧС по городу Бишкек</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Прокуратура</h3>
                <ul>
                  <li>
                    <a href="#">Государственная налоговая служба по городу Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Отдел развития Государственного языка при мэрии города Бишкек</a>
                  </li>
                  <li>
                    <a href="#">Производственно-эксплуатационное управление «Бишкекводоканал»</a>
                  </li>
                  <li>
                    <a href="#">Общественно-Государственное управление капитального строительства</a>
                  </li>
                  <li>
                    <a href="#">Центр Государственного санитарно-эпидемиологического надзора</a>
                  </li>
                  <li>
                    <a href="#">Бишкекская городская дезинфекционная станция по профилактической дезинфекции</a>
                  </li>
                  <li>
                    <a href="#">Бишкекское агентство ритуальных услуг</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h3>Санитарии</h3>
                <ul>
                  <li>
                    <a href="#">Санитарно-экологическая инспекция</a>
                  </li>
                  <li>
                    <a href="#">Служба оперативного реагирования «185»</a>
                  </li>
                  <li>
                    <a href="#">СМЭУ ДПС МВД Кыргызской Республики</a>
                  </li>
                  <li>
                    <a href="#">Коммунальное предприятие «БИШКЕКТЕПЛОЭНЕРГО»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «БИШКЕКТЕПЛОСЕТЬ»</a>
                  </li>
                  <li>
                    <a href="#">ОАО «СЕВЕРЭЛЕКТРО»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>